$borderColor: #61dafb;
.catsBlock {
  width: 240px;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid $borderColor;
  transition: 0.8s;

  .catsList {
    width: 200px;
    height: 200px;
    margin: 1.2rem;
    border-radius: 5px;
  }
  &:hover {
    transform: scale(1.05);
    transition: 0.8s;
    box-shadow: 1px 1px 8px 2px $borderColor;
  }
}
